.Rproj.user
.Rhistory
.RData
.Ruserdata
/lagniappe
/old_archive
/data
/output
/figs_tables
*.Rproj
*.docx
*.Rproj
.httr-oauth
/gemma
/manuscript
*.sublime-project
*.sublime-workspace
manuscript/ms.Rmd
*.jpg
*.pdf
/data_simulation

Common garden growth manuscript/\.dropbox

Common garden growth manuscript/

*.dat
